*{margin: 0;padding: 0;}
li{list-style: none;}
img{vertical-align: top;border: none;}
.wrap{
    a{
        text-decoration: none;
    }
    a:link{
        color: #1d251b;
    }
    a:visited{
        color: #1d251b;
    }
    // overflow: hidden;
    font-family: "-apple-system", BlinkMacSystemFont, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "メイリオ", "Hiragino Kaku Gothic ProN", "MS PGothic", Osaka, "sans-serif";
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 60px;
    z-index: 10;
    border-bottom: 1px solid #744b34;
    background-color: white;
    a{
        display: block;
        width: 207px;
        overflow: hidden;
        white-space: nowrap;
        img{
            margin-left: 20px;
            height: 50px;
        }
    }
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        width: 50px;
        height: 50px;
    }
    .button::before{
        content: '';
        position: absolute;
        width: 30px;
        height: 3.15px;
        background-color: #744b34;
        transform: translateY(10px);
    }
    .button::after{
        content: '';
        position: absolute;
        width: 30px;
        height: 3.15px;
        background-color: #744b34;
        transform: translateY(-10px);
        box-shadow: 0 10px 0 #744b34;
    }
}
.content{
    // overflow: hidden;
    // position: relative;
    .nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 0;
        height: 100vh;
        background:url(../img/bg1.png);
        border-right: #744b34 1px solid;
        transition: width 0.5s, left 0.5s;
        overflow: hidden;
        z-index: 9;
        ul{
            position: relative;
            width: 100%;
            left: 30px;
            white-space: nowrap;
            li{
                color: #744b34;
                a{
                    display: block;
                    padding: 10px;
                }
            }
            div{
                position: absolute;
                left: 69.5px;
                top: 410px;
                font-size: 14px;
            }
        }
        a{
            color: #a7755a;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: bold;
        }
        a:link{
            color: #a7755a;
        }
        a:visited{
            color: #a7755a;
        }
        a:hover{
            color: #744b34;
        }
    }
    .nav.active{
        width: calc(300px);
    }
    .main{
        position: absolute;
        right: 0px; //似乎是這裡始終要一致，才不會產生bug
        padding-top: 63px;
        width: calc(100%);
        background-color: #ffefcc;
        transition: width 0.5s ,left 0.5s;
        white-space: nowrap;
        overflow: hidden;
        z-index: 8;
        .inside{
            // width: 100vw;
            .titleImg{
                display: none;
                margin-top: -2px;
                height: 60vh;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            //關於
            .about{
                color: #000;
            }

            //店鋪案內
            .news{
                margin-top: -2px;
                color: #000;
                background: url(../img/newsbtn.jpg);
                background-size: contain;
                box-sizing: border-box;
                overflow: hidden;
                h5{
                    padding: 10px 15px;
                    color: #000;
                    font-weight: 500;
                }
                h3{
                    display: flex;
                    justify-content: center;
                    margin-bottom: 30px;
                    font-size: 2.0rem;
                    img{
                        position: relative;
                        left: 5px;
                        top: 7px;
                        width: 40px;
                        height: 40px;
                    }
                }
                ul{
                    display: flex;
                    margin: 0 auto;
                    width: 900px;
                    li{
                        position: relative;
                        display: flex;
                        justify-content: space-between;
                        text-align: center;
                        span{
                            color: #f86e1d;
                        }
                    }
                    li:nth-child(1){
                        padding: 70px 50px;
                        width: 200px;
                        font-size: 20px;
                        font-weight: 500;
                        border-bottom: 1px solid #a7755a;
                        background: url(../img/bg1.png);
                        background-size: cover;
                    }
                    li:nth-child(2){
                        padding: 70px 20px;
                        width: 700px;
                        text-align: left;
                        font-size: 18px;
                        border-bottom: 1px solid #c3c3c3;
                        background-color: white;
                    }
                }
                .map{
                    margin: 0 auto;
                    padding: 15px;
                    width: 900px;
                    height: 400px;
                    img{
                        width: 50%;
                        height: 100%;
                    }
                    iframe{
                        position: relative;
                        margin: 0;
                        padding: 0;
                        border: none;
                    }
                }
                .backhome{
                    margin-top: 100px;
                    margin-bottom: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a{
                        padding: 10px;
                        width: 30%;
                        text-align: center;
                        color: white;
                        font-weight: 500;
                        font-size: 18px;
                        border: 1px solid black;
                        border-radius: 10px;
                        background-color: #a7755a;
                    }
                    a:hover{
                        background-color: #744b34;
                    }
                }
            }
        }
        .footer{
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: white;
            ul{
                display: flex;
                li{
                    a{
                        display: block;
                        padding: 0 5px ;
                    }
                    .rightBorder{
                        border-right: 1px solid #1d251b;
                    }
                }
            }
            div{
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 35px;
                background-color: #a7755a;
                img{
                    width: 16px;
                }
                i{
                    position: absolute;
                    width: 100%;
                    height: 4px;
                    bottom: 0px;
                    background-color: #744b34;
                }
            }
        }
        .footer.menuFt{
            border-top: none;
            // background-color: #ffefcc;
        }
    }
    .main.active{
        width: calc(100% - 300px);
    }
}


//讓nav縮小但字不動的用法是:ul得跟nav(父層)一樣大，這是主因也是唯一原因。
//main使用position: absolute;的原因是要讓畫面從左邊或右邊固定，當縮小的時候才會從左邊縮小
//此版本是從右邊固定，左邊固定參考index.html

// loagin畫面
.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    color: #f86e1d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    letter-spacing: 5px;
    background-color: #ffefcc;
    z-index: 11;
    img{
        position: absolute;
        width: 4em;
        top: 120px;
    }
    .continent{
        position: relative;
        h2{
            white-space: nowrap;
            animation: typing 8s steps(4) infinite;
            overflow: hidden;
        }
        @keyframes typing {
            
            0%{
                width: 0;
            }
            30%{
                width: 306.31px;
            }

        }
    }
    .continent::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 2px;
        height: 100%;
        background-color: #f86e1d;
        animation: type 0.8s steps(3) infinite;
    }
    @keyframes type {
        
        0%,75%{
            opacity: 1;
        }
        76%,100%{
            opacity: 0;
        }

    }
}
.loading.active{
    display: none;
}

#borderNO{
    border: none;
}


// rwd 介面切換

@media (max-width:840px) {
    body.active{
        overflow: hidden; //當切換成nav時切換成此的話，nav就不會有多餘的畫面了
    }
    
    .content{
        .nav{
            left: -100%;
            width: 100%;//此處不能用vw會造成錯誤
            overflow: hidden;
            ul{
                div{
                    left: 33vw !important;
                }
            }
        }
        .nav.active{
            left: 0;
            width: 100%;
        }
        .main{
            left: 0;
            transition: all 0.5s;
        }
        .main.active
        {
            position: fixed;
            width: 100vw;
            left: 100%;
            overflow: hidden;
        }
    }

}
//介面切換到此。影響位移的是大小，要讓兩邊都是100%大小才可。
//當切換到nav時，main內容的大小會影響到nav的大小
//解決方法一:當切換到nav時main內的物件display:none
//解決方法二:main屬性上overflow: hidden

@media (max-width:1120px){

    .content{
        .main{
            .inside{
                .menu{
                    .menulist{
                        a{
                            div{
                                width: 30vw;
                                p{
                                    width: 100%;
                                }
                            }
                        }
                    }
                    .list{
                        .iconMenu{
                            top: 28%;
                        }
                    }
                }
            }
        }
    }

}

@media (max-width:970px){

    .content{
        .main{
            .inside{
                .news{
                    ul{
                        flex-direction: column;
                        width: 100vw;
                        li{
                            margin: 0 auto;
                        }
                        li:nth-child(1){
                            padding: 5px;
                            width: 90%;
                            border-bottom: 1px solid #c3c3c3;
                        }
                        li:nth-child(2){
                            padding: 25px 5px;
                            width: 90%;
                        }
                    }
                    .map{
                        margin-left: 5%;
                        margin-right: 5%;
                        margin-top: 30px;
                        padding: 0;
                        width: 90%;
                    }
                    .backhome{
                        margin-top: 30px;
                        margin-bottom: 50px;
                    }
                }
            }
        }
    }

}

@media (max-width:920px){

    .content{
        .main{
            .inside{
                .titleImg{
                    height: 45vh;
                }
                .menu{
                    padding: 50px 50px;
                    .menulist{
                        a{
                            div{
                                p{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

@media (max-width:890px){

    .content{
        .main{
            .inside{
                .titleImg{
                    height: 40vh;
                }
                .menu{
                    .menulist{
                        a{
                            div{
                                p{
                                    width: 100%;
                                }
                            }
                        }
                    }
                    .list{
                        .iconMenu{
                            top: 29%;
                        }
                    }
                }
            }
        }
    }

}



@media (max-width:720px){

.content{
    .main{
        .inside{
            .menu{
                .list{
                    .iconMenu{
                        top: 31%;
                    }
                }
            }
        }
    }
}

}


@media (max-width:620px){
    .header{
        .button{
            margin-right: 5px;
        }
    }
    .content{
        .main{
            .inside{
                .titleImg{
                    height: 35vh;
                }
                .menu{
                    .list{
                        h3{
                            margin: 35px 0;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width:520px){

   

    .content{
        .main{
            .footer{
                ul{
                    display: none;
                }
            }
            .inside{
                .menu{
                    padding: 50px 10px;
                    .menulist{
                        a{
                            div{
                                width: 35vw;
                            }
                        }
                    }
                    .list{
                        .iconMenu{
                           top: 30%;
                        }
                        .iconMenu3{
                            bottom: 17%;
                            left: -3%;
                            width: 13%;
                        }
                    }
                }
            }
        }
        
    }

}


